{% extends "base.html" %}

{% block content %}
<h1 style="position: absolute; color: white; width: 650px; text-align: center;">{{ config['BAND_NAME'] }}</h1>
<img style="width: 100%; margin-top: 20px;" src="/static/yj_with_ruth.jpg" />

<h4>Upcoming shows</h4>
<ul>
  {% for show in shows %}
  <li><a href="{{ show.link }}">{{ show.date }} {{ show.name }}</a></li>
  {% endfor %}
</ul>

<h4>Albums</h4>
<ul>
  {% for album in albums %}
  <li><a href="{{ url_for('album', album_id=album.id) }}">{{ album.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
